/* Variables */

:root {
  --basic-black: #000000;
  --basic-gray: #666666;
  --basic-white: #ffffff;
  --basic-background: #888888;
  --basic-background-block: #eeeeee;
}

.page {
  height: 100%;
}

.page-body {
  min-width: 1100px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: var(--basic-black);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.off {
  display: none;
}

/* main-header */

.main-header {
  background-color: var(--basic-background-block);
}

.site-nav {
  margin: 0px;
  padding: 0px;

  margin-left: 200px;
  padding-top: 30px;
}

.site-nav a {
  font-size: 16px;
  line-height: 30px;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--basic-black);
}

.user-nav {
  padding-top: 30px;
}

.user-nav a {
  font-size: 16px;
  line-height: 30px;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--basic-black);
}

.site-nav li {
  list-style-type: none;
  display: inline;

  margin-right: 45px;
  padding-top: 10px;
}

/* slider */

.slider {
  margin-bottom: 80px;
  background-color: var(--basic-background-block);
}

.slider h3 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;

  margin: 0;
  padding: 0;

  margin-bottom: 25px;
}

.slider p {
  margin-bottom: 38px;
}

.slider a {
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  width: 240px;
  height: 50px;
  background: #FB565A;
}

.slider-wrap {
  width: 1100px;
  margin: 0 auto;
  padding: 0 10px;
  background-color: var(--basic-background-block);
}

.slider_two, .slider_tree {
  display: none;
}

/* features */

.features {
  padding-bottom: 80px;
  margin-bottom: 73px;

  border-bottom: 2px solid var(--basic-background-block);
}

.features-items h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.features-items a {
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
}

.features-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;

  width: 160px;
  height: 50px;
}

.features-items:nth-child(1) a {
  background: #FB565A;
}

.features-items:nth-child(2) a {
  background: #00CA74;
}

.features-items:nth-child(3) a {
  background: #EFC849;;
}

/* about */

.about {
  margin-bottom: 75px;
}

.about-caption {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;

  margin: 0;
  padding: 0;

  margin-bottom: 32px;
}

.about-title {
  font-weight: bold;
  text-transform: uppercase;

  margin-bottom: 23px;
}

.about-list {
  margin: 0px;
  padding: 0px;
}

.about-caption-low {
  margin-bottom: 40px;
}

.about-right-block p {
  font-weight: bold;
  text-transform: uppercase;

  margin-top: 37px;
  margin-bottom: 31px;
}

.about-nomber {
  margin-bottom: 20px;
}

.about-nomber td {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}

.about-nomber sup {
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
}

.about-desc {
  border-spacing: 10px;
}

/* map */

.map {
  margin-bottom: 70px;
  background: url(../img/map.svg); /* временно */
  height: 416px;
  width: 1440px;
  margin: 0 auto;
  margin-bottom: 68px;
}

.map-companies-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.map-text {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-gray);
}

.map-number {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-gray);
}

.map-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  width: 219px;
  height: 50px;
  background: #FB565A;
}

/* footer */

.footer-social-icon {
  display: flex;
}

.footer-social {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 0;
  width: 81px;
  height: 81px;
  border-radius: 50px;
  margin-right: 10px;

  background: var(--basic-background-block);
}

.footer-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;

  margin: 0px;
  padding: 0px;
}

.footer-right-block {
  padding-top: 15px;
}

                                                    /* catalog */

/* container */

.container li {
  list-style-type: none;
}

.main-uptext {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;

  text-align: center;
}

.container h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.product-price {
  color: var(--basic-white);
}

.product-nav-item a {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.product-hover {
  display: none;
  background-color: var(--basic-background-block);
}


/* Grid */

.main-nav {
  display: grid;
}

.main-nav-wrap {
  display: grid;
  grid-template-columns: auto 1fr min-content;
  width: 1100px;

  margin: 0 auto;
  margin-top: 50px;
  padding: 0 10px;
  padding-bottom: 78px;
}

.main-header-bar {
  background-color: var(--basic-background-block);
}

.container {
  width: 1100px;
  margin: 0 auto;
  padding: 0 10px;
}

.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  margin: 0;
  padding: 0;
}

.companies {
  margin-bottom: 80px;
}

.companies-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.companies-item {
  font-size: 0;
}

.about {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 130px;
}

.map-info-wrap {
  width: 319px;
  height: 308px;

  margin-top: 54px;
  margin-left: 160px;
  background-color: var(--basic-white);
}

.map-info {
  padding: 50px;
}

.main-footer {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 140px;
  width: 1100px;
  margin: 0 auto;
  margin-bottom: 68px;
  padding: 0 10px;
}

/* catalog.html */

.uptext-wrap {
  background-color: var(--basic-background-block);
}

.catalog-wrap {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 140px;
}

.filter-type {
  margin: 0px;
  padding: 0px;
}

.filter-type li {
  margin-bottom: 16px;
}

.product-nav-top {
  display: grid;
  grid-template-columns: 1fr auto;
}

.product-nav-top ul li {
  display: inline;
}

.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px;

  margin: 0px;
  padding: 0px;
}

.product-nav {
  display: flex;

  margin: 0px;
  padding: 0px;

  margin-top: 54px;
  margin-bottom: 60px;
}

.product-nav li {
  display: inline;
}

.container-filter h3 {
  margin: 0;
  margin-bottom: 48px;
  margin-top: 55px;
}

.container-filter h4 {
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;

  margin: 0;
  margin-bottom: 16px;
}

.container-filter button {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  border: none;

  width: 260px;
  height: 50px;

  margin-top: 50px;
}

.container-filter fieldset {
  padding: 0;
}

.product-nav h3 {
  margin: 0;
  margin-bottom: 48px;
}

.product-nav-top h3 {
  margin: 0;
  margin-bottom: 0px;
  margin-bottom: 48px;
  margin-top: 55px;
}

.product-nav-top ul {
  margin: 0;
  margin-bottom: 48px;
  margin-top: 55px;
}

.product-nav-top li {
  text-transform: uppercase;
  margin-left: 25px;
}

.link-bot {
  text-transform: uppercase;
  font-weight: 500;
  color: black;
  background-color: var(--basic-background-block);

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;

  width: 50px;
  height: 50px;

  margin-right: 11px;
}

.link-bot-next {
  width: 260px;
}

.link-bot-active {
  width: 45.2px;
  height: 45.2px;
  background-color: var(--basic-white);
  border: 3px solid var(--basic-background-block);
  pointer-events: none;
}
